@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

:root {
    --background-white--: #fff;
    --background-gray--: #AAAAAA;
    --color-text-white--: #fff;
    --blue-main--: #2C74B3;
    --light-gray--:#F1EFEC;
}

/* ===============NAV================= */
.navigation {
    position: sticky;
    top: 0;
    margin: auto;
    width: 100%;
    height: 80px;
    background-color: var(--background-white--);
    z-index: 999;
}

.container_nav {
    margin: auto;
    width: 90%;
    height: 80px;
    background-color: var(--background-white--);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu_list {
    display: flex;
}

.list a {
    padding: 0 10px;
    text-align: center;
}

.menu_list a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}

.menu_list a:after {
    content: "";
    position: absolute;
    background-color: var(--blue-main--);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu_list a:hover:after {
    width: 100%;
}

.list a,
.menu li {
    color: #000;
    text-decoration: none;
    list-style: none;
}

.dropdown_content_ourwork {
    display: none;
    position: absolute;
    padding: 20px 0px;
}

.dropdown_content_ourwork ul li {
    padding: 10px 25px;
    background: var(--background-white--);
}

.dropdown_content_ourwork ul li:hover {
    background: var(--background-gray--);
    transition: .4s;
}

.dropdown:hover .dropdown_content_ourwork {
    display: block;
}

.hamberger {
    display: none;
}

.hamberger i {
    color: #000;
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width:550px) {

    /* .navigation{
        height: auto;
    }
    .container_nav{
        flex-direction: column;
        height: auto;
        margin: 0;
    }
    .container_logo{
        padding: 20px 0;
        font-size: 2rem;
    }
    .menu_list{
        padding-bottom:20px;
        flex-direction: column;
        text-align: center;
    } */
    .menu_list .list {
        display: none;
    }

    .menu_list li {
        padding-bottom: 20px;
    }

    .hamberger {
        display: block;
    }
}

/* ==============NAV================ */





/* =============HEADER============== */
.slider {
    width: 100%;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

/* =============HEADER============== */



/* =========INTRO TEXT AREA======== */
.Intro_container {
    align-content: center;
    width: 100%;
    padding-top: 70px;
    background: var(--background-white----);
    color: var(--background-gray--);
}

.intro_head {
    font-size: 1.25rem;
    padding-bottom: 20px;
    text-align: center;
}

.intro_title {
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

.title_line {
    margin-top: 40px;
    margin-bottom: 40px;
}

.line {
    margin: auto;
    max-width: 800px;
    width: 70%;
    height: 1px;
    border: #000 solid .1px;
}

/* =========INTRO TEXT AREA======== */



/* ========CONTENT AREA=========== */
.content_container1 {
    width: 100%;
    background: var(--light-gray--);
    text-align: center;
    align-content: center;
    padding: 20px;
}
.head_content{
    font-size: 2.25rem;
}
.title_content{
    padding-bottom: 20px;
}
.column_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: auto;
    gap: 20px;
}
.container_image {
    position: relative;
    max-width: 400px;
}
.image {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: black;
}
.container_image:hover .overlay {
    opacity: .4;
    transition: .5s;
}
.container_image:hover .text {
    opacity: 1;
    transition: .5s;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .5s;
}
.btn_other_product{
    margin-top: 20px;
    background: var(--background-gray--);
    padding: 7px 17px;
    font-size: .9rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn_other_product a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-white--);
    transition: .7s;
}
.btn_other_product a:hover {
    color: #000;
    transition: .5s;
}
@media (max-width:991px){

}
@media (max-width:768px){
    .column_product{
        grid-template-columns: 1fr;
        align-items: center;
        max-width: 400px;
    }
}
/* ========CONTENT AREA=========== */





/* ========CONTENT AREA 2 =========== */
.content_container2 {
    width: 100%;
    background: var(--background-white--);
    text-align: center;
    align-content: center;
}
.column_client {
    margin: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.client_product img {
    width: 100px;
    height: 100px;
}
@media (max-width:768px){
    .column_client{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
/* ========CONTENT AREA 2 =========== */





/* ========CONTACT AREA =========== */
.contact_main {
    display: flex;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    border: solid #000 1px;
}

.column_contact1 {
    align-content: center;
    border: #000 1px solid;
}

.icons a,
.icons li {
    text-decoration: none;
    list-style: none;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon {
    padding: 20px;
}

.icon i {
    font-size: 30px;
}

.icon p {
    padding-top: 5px;
    font-size: 12px;
}

.icon h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.column_contact2 {
    width: 100%;
    border: #000 1px solid;
}
/* ========CONTACT AREA =========== */

/* ========FOOTER AREA =========== */
footer{
    position: relative;
    width: 100%;
    height: auto;
    color: #001219;
    padding: 20px 40px;
}
.container-footer{
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    display: grid;
    background: #fff;
    grid-template-columns: 2fr 1fr 1fr 1fr ;
    grid-gap: 20px;
}
.sec h2{
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.sec p{
    color: #001219;
    font-size: .85rem;
    font-weight: 300;
}
.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
.sci li a {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background: #001219;
    display: grid;
    align-content: center;
    justify-content: center;
}
.sci li a i {
    color: #fff;
    font-size: 1rem;
}
.line_icon{
  font-size: 1rem;
  color: #fff;
}
.quicklink i {
    font-size: 1rem;
    padding-right: 10px;
}
.quicklink a {
    color: #555;
    font-size: .85rem;
}
.copyrightText{
    width: 80%;
    color: #c0bebe;
    background: #fff;
    margin: 0 auto;
    text-align: center;
}
.title_about_footer{
    text-indent: 2em;
}
@media (max-width:991px){
    footer{
        padding: 40px;
    }
    footer .container-footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .copyrightText{
        width: 100%;
    }
}
@media (max-width:768px){
    footer .container-footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}
/* ========FOOTER AREA =========== */